* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
}

form {
  padding: 10px;
  background-color: #fff;
}

input {
  display: inline;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  outline: none;
}


ul {
  list-style: none;
}

a {
  display: inline;
}

a:before {
  display: block;
  content: " ";
}

a:after {
  display: block;
  content: " ";
}

img {
  max-width: 320px;
}

iframe {
  width: 320px;
  height: 240px;
}

#contents {
  margin: 0 auto;
  max-width: 760px;
  background-color: #eee;
}

#messages {
  padding: 10px;
  padding-bottom: 0;
  line-height: 150%;
}

#messages .message {
  padding-bottom: 0.5em;
}

#messages .name {
  margin-right: 0.5em;
  color: #888;
  font-weight: bold;
}

#messages .time {
  color: #888;
  font-size: small;
}

#messages .body {
  color: #444;
}

#nav {
  margin-left: 380px;
  width: 240px;
  position: absolute;
  top: 0;
  left: 50%;
}

#counter {
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  background-color: #e43774;
}

#counter:after {
  font-size: x-large;
  content: ' ip'
}

#users {
  background-color: #d4d4d4;
}

#users li {
  display: block;
  padding: 0.5em;
  color: #e43774;
  font-size: large;
}

#users li:before {
  content: "@";
}

#users li:hover {
  background-color: #ccc;
}

#users li.inactive {
  color: #888;
}

@media (max-width: 1240px) {
  img {
    max-width: 300px;
  }

  iframe {
    width: 300px;
    height: 169px;
  }

  #nav {
    margin: 0 auto;
    width: auto;
    max-width: 760px;
    position: static;
  }

  #users {
    display: none;
  }
}

/* for admin */

#users_map {
  padding: 10px;
  color: #888;
  font-weight: bold;
}

input.code,
#users_map dt {
  display: inline-block;
  width: 20%;
  text-align: right;
}

input.name,
#users_map dd {
  display: inline-block;
  width: 75%;
}

form .sep,
#users_map .sep {
  display: inline-block;
  color: #e43774;
  width: 5%;
  height: 25px;
  line-height: 25px;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
}

#users_map .sep {
  color: #aaa;
  font-weight: normal;
}
