extends ../layout

block append js
  script(src="/socket.io/socket.io.js")

  script.
    function updateCounter() {
      $('#counter').text($('#users li.active').length);
    }

    $(function() {
      io = io.connect();

      // Listen for user.connect event.
      io.on('user.connect', function(user) {
        $user = $("#users").find('[data-user-name="' + user.name + '"]');
        if (!$user.length) {
          $user = $('<li/>').attr('data-user-name', user.name).text(user.name);
        }
        $user.attr('class', 'active');
        $user.prependTo('#users');
        updateCounter();
      });

      // Listen for user.disconnect event.
      io.on('user.disconnect', function(user) {
        $user = $("#users").find('[data-user-name="' + user.name + '"]');
        $user.attr('class', 'inactive');
        $user.appendTo('#users');
        updateCounter();
      });

      // Listen for user.log event.
      io.on('user.log', function(users) {
        $.each(users, function() {
          $user = $('<li/>').attr('data-user-name', this.name).text(this.name);
          if (this.active_flag) {
            $user.attr('class', 'active');
            $user.prependTo('#users');
          } else {
            $user.attr('class', 'inactive');
            $user.appendTo('#users');
          }
        });
        updateCounter();
      });
    });

block content
  #nav
    #counter
    ul#users
  #contents
    form
      input(placeholder="Your are admin user!")
    #messages
