extends ../layout

block append js
  script(src="/socket.io/socket.io.js")

  script.
    function updateCounter() {
      $('#counter').text($('#users li.active').length);
    }

    $(function() {
      io = io.connect();

      // Listen for user.connect event.
      io.on('user.connect', function(user) {
        $user = $("#users").find('[data-user-code="' + user.code + '"]');
        if (!$user.length) {
          $user = $('<li/>').attr('data-user-code', user.code).text(user.display_name);
        }
        $user.attr('class', 'active');
        $user.prependTo('#users');
        updateCounter();
      });

      // Listen for user.disconnect event.
      io.on('user.disconnect', function(user) {
        $user = $("#users").find('[data-user-code="' + user.code + '"]');
        $user.attr('class', 'inactive');
        $user.appendTo('#users');
        updateCounter();
      });

      // Listen for user.log event.
      io.on('user.log', function(users) {
        $.each(users, function() {
          $user = $('<li/>').attr('data-user-code', this.code).text(this.display_name);
          if (this.active_flag) {
            $user.attr('class', 'active');
            $user.prependTo('#users');
          } else {
            $user.attr('class', 'inactive');
            $user.appendTo('#users');
          }

          $user_code = $('<dt/>').attr('data-user-code', this.code).attr('class', 'code').text(this.code);
          $user_code.appendTo('#users_map');
          $user_name = $('<dd/>').attr('data-user-code', this.code).attr('class', 'sep').text('@');
          $user_name.appendTo('#users_map');
          $user_name = $('<dd/>').attr('data-user-code', this.code).attr('class', 'name').text(this.name || '(none)');
          $user_name.appendTo('#users_map');
        });
        updateCounter();
      });
    });

block content
  #nav
    #counter
    ul#users
  #contents
    form
      input.code(placeholder="IP Address")
      .sep @
      input.name(placeholder="User name")
    dl#users_map
