extends ../layout

block append js
  script(src="/socket.io/socket.io.js")

  script.
    function imageify($target) {
      $target.find('a').each(function() {
        url = $(this).text();
        if (!url.match(/\.(jpg|jpeg|gif|png)$/)) return;

        $image = $('<img/>')
          .attr('src', url)
          .css({ 'max-width': 320 });
        $(this).html($image);
      });
    }

    $(function() {
      io = io.connect();

      // Listen for talk event.
      io.on('talk', function(data) {
        $('#messages').prepend('<strong>@' + data.user_name + ': </strong>' + data.message + '<br>');
        $('#messages').linkify();
        imageify($('#messages'));
      });

      // Listen for talk.log event.
      io.on('talk.log', function(data) {
        $.each(data, function() {
          $('#messages').prepend('<strong>@' + this.user_name + ': </strong>' + this.message + '<br>');
        });
        $('#messages').linkify();
        imageify($('#messages'));
      });

      // Emit talk event.
      $('form').submit(function(event) {
        // stop form from submitting normally
        event.preventDefault();

        message = $('input').val();
        io.emit('talk', message);
        $('input').val('');
      });
    });

block content
  form
    input
  #messages
