extends ../layout

block append js
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/home/script.js")

block content
  #nav
    #counter
    ul#users
  #contents
    form
      input(placeholder="Please type your message")
    #messages
