extends ../layout

block js
  script(src="/components/jquery/dist/jquery.js")
  script(src="/socket.io/socket.io.js")

  script.
    $(function() {
      io = io.connect();

      // Emit ready event.
      io.emit('ready');

      // Listen for talk event.
      io.on('talk', function(data) {
        $('#messages').prepend('@' + data.user_name + ': ' + data.message + '<br>');
      });

      // Listen for talk.log event.
      io.on('talk.log', function(data) {
        $.each(data, function() {
          $('#messages').prepend('@' + this.user_name + ': ' + this.message + '<br>');
        });
      });

      // Emit talk event.
      $('form').submit(function(event) {
        // stop form from submitting normally
        event.preventDefault();

        message = $('input').val();
        io.emit('talk', message);
        $('input').val('');
      });
    });

block content
  form
    input
  #messages
